server {
        listen 80;
        underscores_in_headers on;
        location / {
            root /site/web;
            try_files $uri $uri/ /index.html;
            index index.html;
        }

        location = /index.html {
            root /site/web;
            add_header Last-Modified $date_gmt;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            if_modified_since off;
            expires off;
            etag off;
        }

        access_log  /var/log/nginx/leiniao_bss_h5.yunniao.cn.access.log main;
        error_log   /var/log/nginx/leiniao_bss_h5.yunniao.cn.error.log  error;
}
